:root{--main-color: #310715;}
* {padding: 0;margin: 0;-webkit-box-sizing: border-box;box-sizing: border-box;}

body {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(rgba(93, 64, 55, 0.5), rgba(255, 255, 255, 0.5)), url(https://www.uacm.edu.mx/portals/_default/skins/3d-universidad/images/11.jpg) 0px 0px/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1,h2{
  font-size: 2.5rem;
  font-weight: 700;
}
header{
  background-color: var(--main-color);
  margin-bottom: 80px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.row{background-color: rgba(255, 255, 255, 0.801);border-radius: 15px;}
.Enlaces{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
a{
  color: var(--main-color);
}
a:hover{
  color: black;
}
.btn{
  background-color: var(--main-color);
}
.btn:hover{
  color: var(--main-color);
  background-color: white;
}
.input-field:hover, .input-field:focus{
  border-bottom-color: var(--main-color) !important;
  box-shadow: var(--main-color);
}
::placeholder{
  color: var(--main-color);
}